{%extends 'base.html'%}
{%block content%}
<section>
  <h1>Indexpage</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ipsam quas atque cupiditate commodi iste optio, sit voluptates quos ut vel sed temporibus officiis magni natus quae quidem molestias a.</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui ex sunt harum accusamus reprehenderit nemo quaerat voluptas. Similique quisquam eligendi optio quo consectetur eius quae repellat molestiae labore! Ea, et.</p>
</section>
{%endblock%}